body{
    display: flex;
    height: 100vh;
    margin: 0;
  }
img{
      /* Full height */
    height: 100%; 
    width: 100%;
    opacity : 0.2;
    position: relative;
    /* Center and scale the image nicely */
    /* background-position: center;
    background-repeat: no-repeat;
    background-size: cover; */
}

